<!DOCTYPE html>
<html lang="en" ng-app="dashboard">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>Simpatico Dashboard</title>

<!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<!-- jQuery and jQuery UI -->
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="lib/jqueryui/jquery-ui.min.js"></script>
<!-- AngularJS -->
<script src="lib/angular/angular.min.js"></script>
<script src="js/app.js"></script>

<!-- iframe resizer -->
<script src="lib/iframe/iframeResizer.min.js" type="text/javascript"></script>
<script src="lib/iframe/iframe-resizer.min.js" type="text/javascript"></script>

<style type="text/css">
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #f5f5f5;
}
html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px;
	padding-top: 70px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #f5f5f5;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
.navbar-brand {
    padding: 0 15px 0 15px;
}

.flag-lang {
	width: 20px;
}
</style>
<script type="application/javascript">
/* 
	function resizeIFrameToFitContent( iFrame ) {
	    iFrame.width  = iFrame.contentWindow.document.body.scrollWidth;
	    iFrame.height = iFrame.contentWindow.document.body.scrollHeight;
	}
	window.addEventListener('resize', function(e) {
	    var iFrame = document.getElementById( 'textframe' );
	    resizeIFrameToFitContent( iFrame );
	} 
); */
</script>
</head>

<body ng-controller="MainController as main">
	<!-- Fixed navbar -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand"  ng-click="main.view = null"><img
					src="images/logo_simpatico.png" height="50px"></a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li ng-class="{'active':main.view =='text'}"><a ng-click="main.view = 'text'">Text complexity</a></li>
					<li ng-class="{'active':main.view =='logs'}"><a ng-click="main.view = 'logs'">Interaction data logs</a></li>
					<li ng-class="{'active':main.view =='enrich'}"><a ng-click="main.view = 'enrich'">Enrichment engine data</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#" ng-click="main.lang = 'en'"><img src="images/flag-uk.png" class="flag-lang"></a></li>
					<li><a href="#" ng-click="main.lang = 'es'"><img src="images/flag-sp.png" class="flag-lang"></a></li>
					<li><a href="#" ng-click="main.lang = 'it'"><img src="images/flag-it.png" class="flag-lang"></a></li>
					<li><a href="logout">Logout</a></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>

	<div class="container">

		<!-- Main component for a primary marketing message or call to action -->
		<div class="jumbotron" ng-if="main.view == null">
			<h1>Simpatico Dashboard</h1>
			<p>Welcome!</p>
			<p>
				<a class="btn btn-lg btn-primary"  ng-click="main.view = 'text'"
					role="button">View text simplification &raquo;</a>
			</p>
			<p>
				<a class="btn btn-lg btn-primary" ng-click="main.view = 'logs'"
					role="button">View interaction stats &raquo;</a>
			</p>
			<p>
				<a class="btn btn-lg btn-primary"  ng-click="main.view = 'enrich'"
					role="button">View enrichment engine data &raquo;</a>
			</p>
		</div>
		<div ng-if="main.view != null" ng-include="'templates/'+main.view+'.html'"></div>

	</div>
	<footer class="footer">
		<div class="container">
			<p class="text-muted">Simpatico Project.</p>
		</div>
	</footer>
	<script src="lib/bootstrap.min.js"></script>
</body>

</html>